<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1999年的阿里巴巴创办者马云，对梦想从不放弃。他曾经想考重点小学，但却失败了；考重点中学也失败了；考大学更是考了三年才考上；想念哈佛大学也没有成功。但他有坚持不懈，勇往直前的精神，俗话说：“宝剑锋从磨砺出，梅花香自苦寒来。”他通过自已的努力，最终成功了。他说：梦想，要脚踏实地，和眼泪是息息相关的。</string>
	<string>有一次上课时，苏格拉底布置了一道作业，让他的弟子们做一件事，每天把手甩一百下，过一个星期后，他问有多少人现在还坚持做了的，百份之九十的人都坚持做了。一个月后，他又问了，现在只有一半的人了。一年后，他再问了，现在只有一个人坚持下来了，那个人就是柏拉图。</string>
	<string>梵高的执着的绘画梦想，虽然很遗憾在他生前，他的作品没有受到是人的欣赏，但在那种世人漠视、穷困潦倒的环境下，仍坚持着自己的梦想，画自己想画的画，这也着实非常人所能的。</string>
	<string>梵高的执着的绘画梦想，虽然很遗憾在他生前，他的作品没有受到是人的欣赏，但在那种世人漠视、穷困潦倒的环境下，仍坚持着自己的梦想，画自己想画的画，这也着实非常人所能的。</string>
	<string>亚历山大大帝在远征波斯之前，将他所有的财产分给了臣下。其中一个叫皮尔底加斯的大臣非常惊奇。问道：“陛下，那你带什么起程呢?”“希望，我只带这一种财宝。”亚历山大回答说。听到这个回答，皮尔底加斯说：“那么请让我们也来分享它吧。”于是，他谢绝了分配给他的财产。 希望是创造人生的路标，在任何时候都别放弃它。</string>
	<string>中国的农民科学家吴吉昌为了周总理的嘱托搞棉花试验，他“吃也想棉花，睡也想棉花”，10年浩劫人家不让他搞试验他就在自己家里偷偷搞。终于，培育出棉花新品种，为祖国的农业发展贡献了力量。</string>
	<string>西汉司马迁少年时就涉猎群书，立志继承父业。正当他撰写的《史记》进展顺利的时候，“李陵事件”的牵联，使他遭受宫刑。面对这奇耻大辱，他不是叹息、沉沦，而是锐意进取，“幽而发愤”，他含冤蒙垢数十年，终于写出了“通古今之变，成一家之言”的《史记》，流芳后世。</string>
</array>
</plist>
